body{
    font-family: Helvetica, sans-serif;

}
@media(max-width:600px){
    .container-lg{
        width: 100%;
        display: block;
        text-align: justify;
    }

}
.navbar{
    /* background-color: #F1F3FF; */
    margin-left: 30px;

/* Navbar di carimobil1*/
/* }
.navbar-expand-lg .navbar-collapse {
    margin-left: 70%; */

}
#heroes{
    background-color: #F1F3FF;
}
#navbarNav{
    padding-left: 55%;
    width: 5%;
}
#pencarianmu{

}
/* Margin auto membuat object ketengah */
#stretched{
    width: 1027px;
    height: 428px;
    margin: auto;

}
.mx-auto {
    border: 3px solid white;
    margin-right: auto !important;
    margin-left: auto !important;
}

.carousel {
    margin: auto;
        width: 500px;
        height: 200px;
        position: relative;
        background-color: aliceblue;
    }
.container-lg{
    width: 1168px;
    height: 326px;
    margin: auto;
    border-radius: 13px;
}
/* info panel */
/* box bisa keatas karena margin top -50 (seusaikan) */
.info-panel{

    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-top: -50px ;
    background-color: #FFFFFF;

}
.py-5 {
    background-color: #F1F3FF;

}
/* .form-select {
} */

#heroesp{
    background-color:#F1F3FF ;
    width: auto;
    height: 266px;
}
#pricing{
    width:Fixed(1,047px);
}
.col-lg-8 {
    border-radius: 8px
}
.w-100{
    background-color: #0D28A6;
}
.btn-pilih-mobil, .btn-lanjutkan-bayar1{
    background-color: #5CB85F;
    color: #F1F3FF;
    border: none;

}
.cari-mobil-panel{
    background-color: #5CB85F ;
    color: #F1F3FF;
    border-radius: 3px;
    border: none;
}
.info-panel1, .info-panel2{
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-top: -50px ;
    background-color: #FFFFFF;
}
.btn-lanjutkan-bayar1{
    position: relative;
}